[submodule "foundry-tests/lib/forge-std"]
	path = foundry-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-fuzz-tests/lib/forge-std"]
	path = foundry-fuzz-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-invariant-tests/lib/forge-std"]
	path = foundry-invariant-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-handler-tests/lib/forge-std"]
	path = foundry-handler-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
